main {
    background-image:url(/assets/imagenes/fondo.jpg);
}

nav{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
i{
background-color: black;
}
h1{
    background-color: hotpink;
    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2{
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    
}