main {
    background-image: url(../assets/imagenes/fondo.jpg);
    justify-content: center;
}

.bi-cart4 {
    justify-content: end;

}

.card-body {
    background-color: rgb(253, 220, 225);
    border-style: solid;
    color: palevioletred;
}


h1 {
    background-color: hotpink;
    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
    background-color: fuchsia;
    background-size: 10px;
    justify-content: center;
    padding: 10px;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    font-size: x-large;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    font-size: x-large;
}
